<!DOCTYPE html>
<html lang="pt-BR" ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>E-Weather</title>

    <!-- Font google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!-- ícones -->
    <link href="lib/weather-icons-master/css/weather-icons.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Meu css -->
    <link href="lib/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/controllers/weatherCtrl.js"></script>
    <script src="js/services/weatherAPIService.js"></script>

    <!-- Chart -->
    <script src="lib/chart/chart.js"></script>
    <script src="lib/chart/angular-chart.js"></script>


  </head>
  <body ng-controller="weatherCtrl">
    <div id="destaque">

      <div class="container">

        <h1>e-Weather</h1>

        <div class="row">
          <div class="icone-clima">
            <i class="wi wi-day-rain"  ng-if="clima.icon == '10d' || clima.icon == '10n' "></i>
          </div>
          <p>{{previsao.main.temp_min-273 | number: 1}}/{{previsao.main.temp_max-273 | number: 1}}</p>
          <h5 ng-show="previsao">({{previsao.name}})</h5>

        </div>

        <ul>
          <li ng-repeat="l in previsao.list">{{l.dt_txt | date: 'yyyy-MM-dd'}}</li>
        </ul>

      </div>

    </div>

  </body>
</html>
